@model QuanLyNhanSu_HoDangTai_63135354.Models.CHUCVU

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Thông tin chi tiết</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã chức vụ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MACV)
        </dd>
        <dt>
            Tên chức vụ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENCV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MACV }) |
    @Html.ActionLink("Trở lại", "Index")
</p>
